.top-du-an {
	width: 100%;
	height: auto;
}

.top-du-an ul {
	padding-left: 10%;
}

.top-du-an ul li {
	float: left;
	padding-right: 5px;
	list-style: none;
	font-size: 13px;
	margin-bottom: 25px;
	padding-top: 5px;
}

.bottom-du-an {
	width: 100%;
	height: auto;
	float: left;
}

.bottom-du-an .block-du-an {
	width: 52%;
	height: auto;
	margin-left: 10%;
	float: left;
}

.bottom-du-an .block-du-an .title-block-du-an {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.bottom-du-an .block-du-an .title-block-du-an h3 {
	padding: 7px 0px;
	text-transform: uppercase;
	font-size: 23px;
}

.bottom-du-an .block-du-an .title-block-du-an h3:after {
	content: '';
    display: block;
    height: 2px;
    background: #188ac7;
    width: 75px;
    margin-top: 9px;
}

.bottom-du-an .block-du-an .content-block-du-an {
	width: 100%;
	height: auto;
}

.bottom-du-an .block-du-an .content-block-du-an ul {
	list-style-type: square;
	padding-left: 4%;
}

.bottom-du-an .block-du-an .content-block-du-an img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

@media screen and (max-width: 1280px) {
    .bottom-du-an .block-du-an {
        margin-left: 3%;
        width: 60%;
    }

    .right-hien-thi {
        width: 30%;
    }
}

@media screen and (max-width: 991px) {
    .bottom-du-an .block-du-an {
        margin-left: 2.5%;
        width: 90%;
    }

    .top-du-an ul {
        padding-left: 2.5%;
    }

    .right-hien-thi {
        margin-left: 2.5%;
        width: 90%;
    }
}